[package]
name = "backtrace"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = "0.4.17"
riscv = { git = "https://github.com/rcore-os/riscv", features = ["inline-asm"] }
